
<!-- 
   <div><i class="fas fa-redo" id="minimap_refresh_mask" style="color:red;" onclick="update_mask()"></i></div>
 -->
<script type="text/javascript">
document.getElementById('mydivheader').parentNode.style.padding="0px";
   	document.getElementById('mydivheader').parentNode.style.backgroundImage="none";
   function minimap_zoom(event){
   	// debugger;
   	canvas._onMouseWheel(event);
   }
   	document.getElementById('mydivheader').onwheel = minimap_zoom;
function update_mask(){
	//debugger;
	// canvas.sight._commitFogUpdate()
	// canvas.sight.saveFog()
//    let aa= canvas.sight.fogData.explored;
//    let w_ratio = (minimap_data.dimensionsx/minimap_data.imageWidth);
//    let h_ratio = (minimap_data.dimensionsy/minimap_data.imageHeight);
//       let leftshad =(canvas.dimensions.paddingX)/w_ratio;
//       let topshad =(canvas.dimensions.paddingY)/h_ratio;
//       let maskw = (canvas.dimensions.width)/w_ratio;
//       let maskh = (canvas.dimensions.height)/h_ratio;
//    $('#minimapimg')[0].style=`max-width: 200px; max-height: auto;  mask-image: url(${aa}); -webkit-mask-image: url(${aa});  mask-size: contain; -webkit-mask-size: ${maskw}px ${maskh}px; -webkit-mask-position: -${leftshad}px -${topshad}px;`;

   let aa= canvas.sight.fogData.explored;
   let w_ratio = (minimap_data.dimensionsx/minimap_data.imageWidth);
   let h_ratio = (minimap_data.dimensionsy/minimap_data.imageHeight);
      let leftshad =(canvas.dimensions.paddingX)/w_ratio;
      let topshad =(canvas.dimensions.paddingY)/h_ratio;
      let maskw = (canvas.dimensions.width)/w_ratio;
      let maskh = (canvas.dimensions.height)/h_ratio;
      let heitos = minimap_data['imageHeight']
   $('#minimapimg')[0].style=`width: 200px; height: ${heitos}px; mask-image: url(${aa}); -webkit-mask-image: url(${aa});  mask-size: contain; -webkit-mask-size:contain`;// ${maskw}px ${maskh}px;`;// -webkit-mask-position: -${leftshad}px -${topshad}px;`;
}
function mini_loaded(){   
	
   let imggg = $('#minimapimg')[0];
   let width_ratio_new = 200/canvas.dimensions.sceneWidth;
   minimap_data['imageHeight']= canvas.dimensions.sceneHeight * width_ratio_new;
   minimap_data['imageWidth']= 200;
   
   	if (game.user.isGM){
   $('#minimapimg')[0].style=`max-width: 200px; max-height: auto; `;
   
	// $('#minimap_refresh_mask')[0].hidden = true;
   
   }
   else{
   	// canvas.sight._commitFogUpdate()
	// canvas.sight.saveFog()
   let aa= canvas.sight.fogData.explored;
      let heitos = minimap_data['imageHeight']

   $('#minimapimg')[0].style=`width: 200px; height: ${heitos}px;  mask-image: url(${aa}); -webkit-mask-image: url(${aa});  mask-size: contain; -webkit-mask-size: contain;`;
   }
   
   
 

   // document.getElementById('minimappopup').style.width=minimap_data.imageWidth+'px';
   // document.getElementById('minimappopup').style.height=(minimap_data.imageHeight)+'px';


   // debugger;
   // minimap_data.minimapapp
   minimap_data.minimapapp.position.width= minimap_data.imageWidth;
   minimap_data.minimapapp.position.height=minimap_data.imageHeight;

   minimap_data['screensizex']= document.getElementById('board').width;
   minimap_data['screensizey']= document.getElementById('board').height;
   
   minimap_data['dimensionsy']= canvas.dimensions.sceneHeight;
   minimap_data['dimensionsx']= canvas.dimensions.sceneWidth;
   
   minimap_data['minimaprationx']= minimap_data.screensizex/minimap_data.dimensionsx;
   minimap_data['minimaprationy']= minimap_data.screensizey/minimap_data.dimensionsy;

   minimap_data['squaresizew']= minimap_data.imageWidth*minimap_data.minimaprationx;
   minimap_data['squaresizeh']= minimap_data.imageHeight*minimap_data.minimaprationy;

   minimap_data['paddedX']=  canvas.dimensions.paddingX+(minimap_data.screensizex/2/canvas.stage.scale.x);
   minimap_data['paddedY']=  canvas.dimensions.paddingY+(minimap_data.screensizey/2/canvas.stage.scale.y);
   
   minimap_data['posx']=(canvas.stage.pivot.x - minimap_data.paddedX)/(minimap_data.dimensionsx/minimap_data.imageWidth);
   minimap_data['posy'] =(canvas.stage.pivot.y - minimap_data.paddedY)/(minimap_data.dimensionsy/minimap_data.imageHeight);
   
	$('#minimap_loading').hide();
   if (game.user.isGM){
   }
   else{
   	update_mask();
   }
   $('#mydiv')[0].style = `overflow: hidden; border: 2px solid red; height: ${minimap_data.squaresizeh/canvas.stage.scale.x}px; left: ${minimap_data.posx}px; position: absolute; top: ${minimap_data.posy}px; width: ${minimap_data.squaresizew/canvas.stage.scale.x}px;`
   
   
   for (usera of game.users)
   {
   //  console.log(user.color);
   let char = usera.data.character;
   if (char)
   {
    let toks = game.scenes.viewed.data.tokens.filter(w=> w.actorLink == true && w.actorId==char).map(l => ({'x': l.x, 'y': l.y, '_id':l._id}))
    for (tok of toks)
    {
   
      let aposx =(tok.x - canvas.dimensions.paddingX)/(minimap_data.dimensionsx/minimap_data.imageWidth);
      let aposy =(tok.y - canvas.dimensions.paddingY)/(minimap_data.dimensionsy/minimap_data.imageHeight);
   
      // console.log(`id ${char} X ${tok.x} Y ${tok.y} color ${usera.color}`);
      minimap_data.minimap_actors[tok._id] = document.createElement("div");
      minimap_data.minimap_actors[tok._id].id="minitock_"+tok._id;
      minimap_data.minimap_actors[tok._id].style=`border-radius: 50%; position: absolute; height: 8px; width: 8px; background: ${usera.color}; left: ${aposx}px; top: ${aposy}px`;
      // wrapper.removeChild
      document.getElementById('mydivheader').appendChild(minimap_data.minimap_actors[tok._id]);
   
    }
   }
   }
   
   
   var PADDING = 0;
   var rect;
   var viewport = {
   bottom: 0,
   left: 0,
   right: 0,
   top: 0
   }
   
   
   function dragElement(elmnt) {
   var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
   if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
   } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
   }
   
   function dragMouseDown(e) {
    e = e || window.event;
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    // store the current viewport and element dimensions when a drag starts
    rect = elmnt.getBoundingClientRect();
    viewport.bottom = document.getElementById('mydivheader').clientHeight - PADDING;
   
    viewport.left = PADDING;
    viewport.right = document.getElementById('mydivheader').clientWidth - PADDING;
    viewport.top = PADDING;
    
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
   
   
     // pointerlock
      
       var canvasa = $("#mydiv").get()[0];
            canvasa.requestPointerLock = canvasa.requestPointerLock ||
                    canvasa.mozRequestPointerLock ||
                    canvasa.webkitRequestPointerLock;
   
            // Ask the browser to lock the pointer)
            canvasa.requestPointerLock();
   
     
   
   }
   
   
   function elementDrag(e) {
     var movementX = e.movementX ||
                e.mozMovementX ||
                e.webkitMovementX ||
                0;
   
        var movementY = e.movementY ||
                e.mozMovementY ||
                e.webkitMovementY ||
                0;
 
   var newLeft = 0;
   var newTop = 0;

   newLeft = elmnt.offsetLeft + movementX;
   newTop = elmnt.offsetTop + movementY;
   
   
      elmnt.style.top = newTop + "px";
      elmnt.style.left = newLeft + "px";
   
      let w=(newLeft)*(minimap_data.dimensionsx/minimap_data.imageWidth);
      let h=(newTop)*(minimap_data.dimensionsy/minimap_data.imageHeight);
       canvas.pan({x: w+minimap_data.paddedX, y: h+minimap_data.paddedY});

   }
   
   function closeDragElement() {
            document.exitPointerLock();
            //     var canvasa = $("#mydivheader").get()[0];
            // canvasa.exitPointerLock = canvasa.exitPointerLock    ||
            //                canvasa.mozExitPointerLock;
            // canvasa.exitPointerLock();
    /* stop moving when mouse button is released:*/
    document.onmouseup=null;
    document.onmousemove = null;
   
   }
   
   }
   dragElement(document.getElementById(("mydiv")));
}


   
document.getElementById("mydivheader").innerHTML = `
<i id="minimap_loading" class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:red; margin: auto"></i>
   <img  onmousewheel="minimap_zoom()" src="{{src}}" id="minimapimg" style="display: none" onload="mini_loaded()">
   <div class="box" id="mydiv" style="display: none; border: 2px solid red; height: 38.7048px; left: 0px; position: absolute; top: 0px; width: 78.7081px;">
   </div>
`
</script>
<div id="mydivheader" style="position: absolute; overflow: hidden;background-color: rgba(0, 0, 0);">



</div>
